@font-face {
  font-family: "kia";
  src: url(Kia_Font/KIA_MortorsMedium.ttf);
}

* {
  font-family: "kia";
}

.bottom_line {
  width: 100vw;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.car_list {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  line-height: 35px;
  gap: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #5f6563;
}

@media screen and (max-width: 1025px) {
  .car_list {
    padding: 0 20px;
  }
}
